<div aria-live="polite" aria-atomic="true" class="position-static">
    <div class="toast-container top-0 end-0 p-3">

        <div id="informationToast" class="toast" role="alert" aria-live="polite" aria-atomic="true">
            <div class="toast-header bg-info bg-opacity-50 border-0">
                <i class="fa-solid fa-circle-info me-2"></i>
                <strong class="py-1 me-auto">Information</strong>
                <button type="button" class="btn-close mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-secondary bg-opacity-10 text-info-emphasis">
                This is an informational toast message.
            </div>
        </div>

        <div id="successToast" class="toast" role="alert" aria-live="polite" aria-atomic="true">
            <div class="toast-header bg-success bg-opacity-75 text-black-50 border-0">
                <i class="fa-solid fa-circle-check me-2"></i>
                <strong class="py-1 me-auto">Success</strong>
                <button type="button" class="btn-close mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-success bg-opacity-10">
                This is a success toast message.
            </div>
        </div>

        <div id="warningToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-warning bg-opacity-75 border-0">
                <i class="fa-solid fa-triangle-exclamation me-2"></i>
                <strong class="py-1 me-auto">Warning</strong>
                <button type="button" class="btn-close mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-warning bg-opacity-10">
                This is a warning toast message.
            </div>
        </div>

        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger bg-opacity-75 border-0">
                <i class="fa-solid fa-ban me-2"></i>
                <strong class="py-1 me-auto">Error</strong>
                <button type="button" class="btn-close mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-danger bg-opacity-10">
                This is an error toast message.
            </div>
        </div>

    </div>
</div>